<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    <!-- TODO #2 - Loop over jobs map to display all job fields -->

    <div>
        <h3 th:text="${size}+ ' Result(s)'"> </h3>

        <div>
            <table th:each="job :${jobs}" th:class="job-listing">

                <tr>
                    <td>Position Type</td>
                    <td th:text="${job['position type']}">Position Type</td>

                </tr>
                <tr>
                    <td>Name</td>
                    <td th:text="${job.name}">Name</td>

                </tr>
                <tr>
                    <td>Employer</td>
                    <td th:text="${job.employer}">Employer</td>

                </tr>
                <tr>
                    <td>Location</td>
                    <td th:text="${job.location}">Location</td>

                </tr>
                <tr>
                    <td>Core Competency</td>
                    <td th:text="${job['core competency']}">Core Competency</td>

                </tr>

            </table>
        </div>
    </div>
</div>
</body>
</html>